<div class="col-md-3 text-sm-left">
    <ul class="flex-column list-group">
        <li class="list-group-item navbar-dark bg-dark text-white"><strong>ADMINISTRADOR</strong></li>
        <li class="list-group-item nodeco"><a href="@Url.Action("Crear","Administrador")">Crear Proyecto</a></li>
        <li class="list-group-item nodeco"><a href="@Url.Action("Listar","Administrador")">Listar Proyectos</a></li>
        <li class="list-group-item nodeco"><a href="@Url.Action("Asignar","Administrador")">Asignar Ticket</a></li>
        <li class="list-group-item nodeco"><a href="@Url.Action("Consultar","Administrador")">Consultar Informe</a></li>
    </ul>
    <br />
    <ul class="flex-column list-group">
        <li class="list-group-item nodeco navbar-dark bg-dark text-white"><strong>COLABORADOR</strong></li>
        <li class="list-group-item nodeco"><a href="@Url.Action("Actualizar","Colaborador")">Actualizar Ticket</a></li>
        <li class="list-group-item nodeco"><a href="@Url.Action("Listar","Colaborador")">Listar Tareas</a></li>
    </ul>
    <br />
    <ul class="flex-column list-group">
        <li class="list-group-item nodeco navbar-dark bg-dark text-white"><strong>USUARIO</strong></li>
        <li class="list-group-item nodeco"><a href="@Url.Action("Crear","Usuario")">Ingresar Ticket</a></li>
        <li class="list-group-item nodeco"><a href="@Url.Action("Listar","Usuario")">Listar Tickets</a></li>
    </ul>    
    <br />
</div>