@model IEnumerable<STICKET.Models.Proyecto>

<h3><strong>LISTADO DE PROYECTOS</strong></h3><hr />

<table class="table table-striped table-secondary">
    <thead class="thead-dark">
        <tr>
            <th class="font-weight-bold">#</th>
            <th class="font-weight-bold">Nombre</th>
            <th class="font-weight-bold">Descripción</th>
            <th class="font-weight-bold">Fecha Ingreso</th>
            <th class="font-weight-bold">Fecha Termino</th>
            <th class="font-weight-bold">Estado</th>
            <th class="font-weight-bold">Opciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pro in Model)
        {
        <tr>
            <td>@pro.Id</td>
            <td>@pro.Nombre</td>
            <td>@pro.Descripcion</td>
            <td>@pro.Finc</td>
            <td>@pro.Fter</td>
            <td>@pro.Estado.Nombre</td>
            <td>
                <a href="@Url.Action("Ver","Administrador", new { id = @pro.Id })">Ver</a>
                <a href="@Url.Action("Editar","Administrador", new { id = @pro.Id })">Editar</a>
            </td>
        </tr>
        }

    </tbody>
</table>
<p class="table-result-count">Se han encontrado @Model.Count() resultado(s).</p>
