@model STICKET.Models.Proyecto
@Html.ValidationSummary()

<form class="form-group">

    <div class="form-group">
        <label>Asunto</label>
        <input class="form-control" name="Nombre" value="@Model.Nombre" disabled>
    </div>

    <div class="form-group">
        <label>Descripción</label>
        <textarea class="form-control" rows="5" name="Descripcion" disabled>@Model.Descripcion</textarea>
    </div>

    <div class="form-group">
        <label>Fecha Ingreso</label>
        <div class="justify-content-center">
            <input class="text-center" type="datetime" name="Finc" value="@Model.Finc.Date" disabled>
        </div>
    </div>

    <div class="form-group">
        <label>Fecha Estimación</label>
        <div class="justify-content-center">
            <input class="text-center" type="datetime" name="Fter" value="@Model.Fter.Date" disabled>
        </div>
    </div>

    <div class="form-group">
        <label for="LabelSelect">Estado</label>
        <select class="form-control" name="EstadoId">
            <option name="EstadoId" value="@Model.Estado.Id"> @Model.Estado.Nombre</option>
        </select>
    </div>

    <hr />
    <div class="form-actions">
        <button type="button" class="btn btn-outline-success" onclick="history.back()">Volver</button>
    </div>

</form>

