@model STICKET.Models.Actividad

@Html.ValidationSummary()

<form class="form-group" method="post" action="@Url.Action("Editar","Actividad")">

    <div class="form-group">
        <label for="LabelSelect"><strong>Ticket</strong></label>
        <select class="form-control" name="TicketId">
            @foreach (var tic in ViewBag.Ticket)
            {
                <option name="EstadoId" value="@tic.Id"> @tic.Nombre </option>
            }
        </select>
    </div>

    <div class="form-group">
        <label>Descripción</label>
        <textarea class="form-control" rows="5" name="Comentario">@Model.Comentario</textarea>
    </div>

    <div class="form-group">
        <label>Fecha Ingreso</label>
        <div class="justify-content-center">
            <input class="text-center" type="datetime" name="Finc" value="@Model.Finc.Date">
        </div>
    </div>

    <div class="form-group">
        <label>Fecha Termino</label>
        <div class="justify-content-center">
            <input class="text-center" type="datetime" name="Fter" value="@Model.Finc.Date">
        </div>
    </div>
    <hr />
    <div class="form-actions">
        <button type="submit" class="btn btn-outline-success">Actualizar</button>
        <button type="button" class="btn" onclick="history.back()">Volver</button>
    </div>

</form>

